#container {
  width:  450px;
  height: 600px;
  margin: 0 auto;
  position: relative;
}

#Explanation {
  margin-left: 50px;
  margin-right: 50px;
}

#Explanation p {
  text-align: justify;
}

#Explanation a {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

#OptionsList [type=submit] {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

#OptionsList form {
  margin-left: 60px;
}

#OptionsList form legend {
  margin-left: -50px;
}

p.btn-group  {
  text-align: center;
  margin-top: 5px;
}

#StartMap{
  width: 450px;
  height: 505px;
}

#EndMap{
  width: 450px;
  height: 505px;
}

#ResultMap{
  width: 450px;
  height: 480px;
}

#Configuration p {
  margin: 0 auto 20px auto;
  text-align: center;
  font-weight: bold;
}

